<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Notes</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= link_to workout.date.strftime("%B %d, %Y"), exercise_workout_path(@exercise.id, workout.id) %></td>
        <td><%= workout.date.strftime("%I:%M %P") %></td>
        <td><%= truncate(workout.notes, length: 65) %></td>
        <td><%= link_to fa_icon("pencil"), edit_exercise_workout_path(@exercise.id, workout.id) %></td>
        <td>
          <%= link_to fa_icon("trash"), exercise_workout_path(@exercise.id, workout.id), method: :delete, data: { confirm: 'Are you sure? This will delete all set data associated with this workout.' }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>