<p id="notice"><%= notice %></p>

<h2>Your <%= @workout.exercise.name %> workout on <%= @workout.date.strftime("%B %d, %Y") %></h2>
<p>
  <strong>Time:</strong>
  <%= @workout.date.strftime("%I:%M %P") %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @workout.notes %>
</p>

<%= link_to 'Edit', edit_exercise_workout_path(@exercise.id, @workout.id), class: "btn btn-warning" %>
<%= link_to 'Back', @exercise, class: "btn btn-secondary" %>

<hr>
<h5>Set data for this workout</h5>
<%= render "shared/set_data_table"  %>
