<p id="notice"><%= notice %></p>

<h1>Exercises</h1>

<p>
  <%= search_form_for @search do |f| %>
  <div class="row">
    <div class="field col-md-4">
      <%= f.text_field :name_cont, class: "form-control", placeholder: "Name contains..." %>
    </div>
    <div class="field col-md-4">
      <%= f.text_field :target_cont, class: "form-control", placeholder: "Target contains..."  %>
    </div>
    <div class="actions col-md-4">
      <%= f.submit "Search", class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>
</p>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@search, :name) %></th>
      <th><%= sort_link(@search, :target) %></th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= link_to exercise.name, exercise %></td>
        <td><%= exercise.target %></td>
        <td><%= link_to fa_icon("pencil"), edit_exercise_path(exercise) %></td>
        <td><%= link_to fa_icon("trash"), exercise, method: :delete, data: { confirm: 'Are you sure? This will delete all workout and set data associated with this workout.'}%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise', new_exercise_path, class: "btn btn-primary" %>

<%= pie_chart Exercise.group(:target).count %>