<p id="notice"><%= notice %></p>

<h1>
  <%= @exercise.name%>
</h1>

<p>
  <strong>Target:</strong>
  <%= @exercise.target %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise), class: "btn btn-warning" %>
<%= link_to 'Back to Exercises', exercises_path, class: "btn btn-secondary" %>
<hr>
<%= link_to "Begin a new workout", new_exercise_workout_path(exercise_id: @exercise.id ), class: "btn btn-primary"  %>
<hr>

<h4>Recent Workouts</h4>
<%= render "shared/workout_data_table" %>